.c-current-uploads{
  // TODO: Extract this
  max-width: 230px;
  @extend .o-background-color--white;
  @extend .o-padding-left--sm;
  @extend .o-padding-right--sm;

  @extend .o-margin-left--xs;
  @extend .o-margin-bottom--xs;

  @extend .o-border-radius--xs;
}

.c-current-uploads__header{
  @extend .o-overflow--hidden;
  @extend .o-width--full;
}

.c-current-uploads__header__loader{
  @extend .o-text-align--center;
  @extend .o-padding-right--sm;

  &:before{
    @extend .o-content--empty;
    // TODO: Extract this
    width: 32px;
    // TODO: Extract this
    height: 32px;
    // TODO: Extract this
    border: solid black 2px;
    // TODO: Extract this
    border-radius: 16px;

    @extend .o-box-sizing--border-box;

    @extend .o-display--block;
  }
}

.c-current-uploads__header__text{
}

.c-current-uploads__text__title{
  @extend .o-color--black;
}

.c-current-uploads__header__actions{}

.c-current-uploads__body{
  @extend .o-display--none;
}
