.c-video--incompleted__form{
  // TODO: Extract this
  border: solid 2px black;
  @extend .o-width--9-12;
  // TODO: Extract this
  max-width: 600px;
  @extend .o-overflow--hidden;
  @extend .o-clear--both;
  @extend .o-margin--auto;
  // TODO: Extract this
  padding: 0.5em 0;

  @extend .o-border-radius--xs;
  // TODO: Extract this
  font-size: 0.8em;
}

.c-video--incompleted__form__text{
  // TODO: Extract this
  width: 8em;
  // TODO: Extract this
  padding: 0 1em;
}
.c-video--incompleted__form__input{
  @extend .o-background-color--transparent;
  @extend .o-border-width--zero;
  @extend .o-outline--zero;
  // TODO: Extract this
  box-shadow: 0 0 0px 1000px white inset;
  @extend .o-width--full;
}
.c-video--incompleted__form__button{

}
