// TODO: Refactor this
.o-opacity--zero{
  opacity: 0;
}

.o-opacity--1-4{
  opacity: 0.25;
}

.o-opacity--2-4{
  opacity: 0.5;
}

.o-opacity--3-4{
  opacity: 0.75;
}

.o-opacity--full{
  opacity: 1;
}
